In [2]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [3]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()
##y = Gizmo() * 10

dir()

Gizmo id: 136577836388416

['Gizmo',
 'In',
 'Out',
 '_',
 '_2',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'copy',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [4]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles
id(charles), id(lewis)
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [5]:
alex ={'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles
alex is charles

False

In [6]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

id (t1[-1])
t1[-1].append(99)
t1, id(t1[-1])

t1 == t2

False

In [7]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l2[1] == [33, 22]
l2[2] == [10, 11]

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [8]:
class Bus:
    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [9]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Clarire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(136577837174656, 136577837174656, 136577836753792)

In [10]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [11]:
def f(a,b):
    a += b
    return a

x = 1
y = 2
f(x,y), (x, y)

a = [1,2]
b = [3,4]
f(a,b), (a,b)

t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [12]:
class HauntedBus:

    def __init__(self, passengers = []):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [13]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

bus3 = HauntedBus()
bus3.passengers

bus3.pick('Dave')
bus2.passengers

bus2.passengers is bus3.passengers

bus1.passengers

['Bill', 'Charlie']

In [14]:
class TwilightBus:

    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [16]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [17]:
class TwilightBus:

    def __init__(self, passengers = None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [19]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [20]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

del s1
ender.alive

s2 = 'spam'

ender.alive

Gone with the wind...

False